body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  margin-top: 20px;
  padding: 15px 30px;
  background: white;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.gallery img {
  width: 30%;
  margin: 10px;
}
.personalizar-body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.titulo {
    font-size: 42px;
    margin-top: 60px;
    letter-spacing: 2px;
}

.subtitulo {
    opacity: 0.6;
    margin-bottom: 40px;
}

.producto-img {
    width: 320px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.selector {
    margin: 20px 0;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.precio {
    font-size: 26px;
    font-weight: bold;
    margin-top: 40px;
}

.btn {
    background: white;
    color: black;
    padding: 15px 30px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.btn:hover {
    background: gray;
    color: white;
}
